# dotfiles
.*

# files for build
/examples/
/scripts/
/src/
node_modules/
tsconfig.json

# temporary files
*~
*.bak
*.tmp
*.swp
*.log

# image caches
.DS_Store
Thumbs.db

# patch/merge
*.orig
*.rej

# IDE files
*.code-workspace
