{
  "presets": [
    ["@babel/preset-env", {"targets": {"node": "8.5.0"}, "useBuiltIns": "usage", "corejs": 3, "modules": false}],
  ],
  "plugins": [
    ["module-extension-resolver", {
      "map": {
        ".mjs": ".js"
      }
    }]
  ]
}
