# https://help.github.com/en/articles/workflow-syntax-for-github-actions

on: push
name: Examples check
jobs:
  examples-cjs:
    name: Build and run examples (CommonJS)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - windows-latest
        - macos-latest
        - ubuntu-latest
        nodejs-build:
        - "6.9.0" # minimum version Babel works
        - "12.0.0"
        nodejs-run:
        - "4.0.0"
        - "12.0.0"
        example:
        - "babel-cjs"
        - "ts-babel-cjs"
        - "ts-tsc-cjs"
        exclude:
        - os: windows-latest # not work "babel --extensions '.ts'" on Windows?
          example: "ts-babel-cjs"
      fail-fast: false
    steps:
    - name: Checkout source codes
      uses: actions/checkout@v2
    - name: Install Node.js for build
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.nodejs-build }}
    - name: Print versions
      run: |
        node -v
        npm -v
    - name: Install dependencies for plugin
      run: npm ci || npm i
    - name: Build plugin
      run: npm run build
    - name: Install dependencies for example
      run: npm ci --prefix ./examples/${{ matrix.example }} || npm i --prefix ./examples/${{ matrix.example }}
    - name: Build example
      run: npm run build --prefix ./examples/${{ matrix.example }}
    - name: Install Node.js for run
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.nodejs-run }}
    - name: Print versions
      run: |
        node -v
        npm -v
    - name: Run example
      run: node ./examples/${{ matrix.example }}/dist/index.js
  examples-esm:
    name: Build and run examples (ES Modules)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - windows-latest
        - macos-latest
        - ubuntu-latest
        nodejs-build:
        - "6.9.0" # minimum version Babel works
        - "12.0.0"
        nodejs-run:
        - "12.0.0" # minimum version {"type": "modules"} supports in package.json
        example:
        - "babel-esm"
        - "ts-babel-esm"
        - "ts-tsc-esm"
        exclude:
        - os: windows-latest # not work "babel --extensions '.ts'" on Windows?
          example: "ts-babel-esm"
      fail-fast: false
    steps:
    - name: Checkout source codes
      uses: actions/checkout@v2
    - name: Install Node.js for build
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.nodejs-build }}
    - name: Print versions
      run: |
        node -v
        npm -v
    - name: Install dependencies for plugin
      run: npm ci || npm i
    - name: Build plugin
      run: npm run build
    - name: Install dependencies for example
      run: npm ci --prefix ./examples/${{ matrix.example }} || npm i --prefix ./examples/${{ matrix.example }}
    - name: Build example
      run: npm run build --prefix ./examples/${{ matrix.example }}
    - name: Install Node.js for run
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.nodejs-run }}
    - name: Print versions
      run: |
        node -v
        npm -v
    - name: Run example
      run: node --experimental-modules ./examples/${{ matrix.example }}/dist/index.js
