# https://help.github.com/en/articles/workflow-syntax-for-github-actions

on: push
name: macOS
jobs:
  verify:
    name: Verify
    runs-on: macos-latest
    steps:
    - name: Checkout source codes
      uses: actions/checkout@v3
    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 12
    - name: Output versions
      run: |
        node -v
        npm -v
    - name: Install dependencies
      run: npm ci || npm i
    - name: Verify
      run: npm run verify
